* @apolloio/devops @apolloio/agentic-engineering
/skill-review-rubric.md @apolloio/devops @apolloio/agentic-engineering @apolloio/it-team
plugins/apollo-eng-devops/ @apolloio/devops
plugins/apollo-it/ @apolloio/devops @apolloio/it-team
plugins/apollo-rnd/ @apolloio/devops @apolloio/rnd
plugins/apollo-gtm/ @apolloio/devops @apolloio/agentic-engineering @apolloio/gtm
plugins/apollo-people/ @apolloio/devops @apolloio/people @apolloio/it-team
